.tit
{
    color: #f7a3b4;;
    text-align: center;
    font-family:' Playfair Display';
}
.tit:hover
{
    animation-name:change;
    animation-iteration-count: infinite;
    animation-duration:2s;
}
@keyframes change 
{
    to{color: pink;}
}
.squ
{
    display:grid;
    justify-content: center;
    height:150px;
    width:600px;
    border:solid;
    border-color: whitesmoke;
    position:absolute;
    left: 375px;
    border-radius:25px;
}
.amt
{
    display:flex;
    gap: 150px;
}
.amt h4{
    font-size: 35px;
}
.sal
{
    position:absolute;
    top:270px;
    left:380px
}